body{
    margin: 0%;
    padding: 0%;
 }
.sliders{
    display: grid;
    overflow-x: scroll;
    overflow-y: hidden;
}

.slide{
    position: relative;
    display: flex;
}

.slide-track{
    display: flex;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 200px;
margin-left: 10px;
margin-bottom: 10px;
margin-top: 10px;
}

@media screen and (max-width: 600px) {
.card {
width: 125px;
}
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
padding: 2px 16px;
}